.button
{
    width: calc(100% - 2px);
    padding: 5px 0px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(7, 72, 140, .7);
    letter-spacing: 2px;
}

.button:hover
{
    color: black;
    background-color: white;
}