<div *ngIf="router.url == '/game'"><ng-container *ngTemplateOutlet="main"></ng-container></div>
<div *ngIf="router.url == '/game/deck'"><ng-container *ngTemplateOutlet="deck"></ng-container></div>



<ng-template #main>
    <div class="button" routerLink="deck">Deck</div>
    <div class="button" (click)="searchForgame()">Search for game</div>
</ng-template>


<ng-template #deck>
    <div class="button" routerLink="/game">Back</div>
    <div class="button" (click)="saveDeck()">Save</div>
</ng-template>

