<div class="site">
    <div class="main">
        <div class="left">
            <div class="nav"> 
                <nav-game></nav-game>
            </div>

            <div class="big-card" *ngIf="deckService.activeCard != null && router.url == '/game/deck'">
                <div class="card" [ngStyle]="{'background-image':'url(' + deckService.activeCard.details.image_address + ')'}">

                </div>
                <div class="description" [ngClass]="deckService.activeCard.details.civilization" *ngIf="deckService.activeCard.details.flavor_text != ''">
                    {{ deckService.activeCard.details.flavor_text }}
                </div>
            </div>

        </div>

        <div class="right">
            <router-outlet></router-outlet>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="alert-box" *ngIf="search">
    <div style="margin: 15px auto;" class="loading-spinner"><div></div></div>
    {{ status }}
</div>