.site
{
    width: 100%;
    min-width: 970px;
    height: 100%;
    min-height: 50px;
}

.main-image
{
    margin-left: 30%;
    bottom: 0;
    width: 70%;
    height: 100%;
    background-image: url('../../../assets/images/backgrounds/main.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
}

.site .main
{
    width: 96%;
    position: absolute;
    height: 90%;
    left: 2%;
    top: 5%;
    min-width: calc(970px - 4%);
}

.site .main .left
{
    width: 20%;
    height: 100%;
    float: left;
    min-width: 170px;
}

.site .main .right
{
    width: 78%;
    height: 100%;
    float: right;
    min-width: 600px;
}

.site .main .left .nav
{
    height: 30%;
}

.site .main .left .big-card
{
    width: 100%;
    height: 70%;
}

.site .main .left .big-card .card
{
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    /* padding-top: 135.4%; */
    border: 3px solid white;
    display: flex;
    flex-flow: column;
}

.site .main .left .big-card .description
{
    width: calc(100% - 20px);
    height: calc(18% - 23px);
    overflow: auto;
    padding: 10px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    flex-grow : 1;
    margin-top: 138%;
    border-top: 3px solid white;
}

.site .main .left .nav .button
{
    width: calc(100% - 2px);
    padding: 5px 0px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(7, 72, 140, .7);
    letter-spacing: 2px;
}

.site .main .left .nav .button:hover
{
    color: black;
    background-color: white;
}

.form input, .form button
{
    background-color: black;
    width: 100%;
    padding: 7px;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    margin-bottom: 15px;
    min-width: 250px;
}

.form
{
    margin-top: 120px;
}

.form button[type="submit"]
{
    width: 75%;
    display: block;
    margin: 0 auto;
    background-color: rgb(7, 72, 140, .7);
    border-color: rgb(7, 72, 140);
}

.form button[type="submit"]:focus
{
    border-color: rgb(7, 72, 140, .5);
    outline: 0;
    height: 70px;
}

.form button[type="submit"]:disabled
{
    background-color: transparent;
    border-color: transparent;
}

.form input:focus
{
    outline: none;
    border-color: rgb(7, 72, 140);
}

.active
{
    color: black !important;
    background-color: white;
}

.error 
{
    width: 100%;
    padding: 7px;
    font-family: 'Titillium Web', sans-serif;
    border: 2px solid rgb(208, 30, 30);
    background-color: rgb(208, 30, 30, .5);
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
}