.zone
{
    padding: 1px;
    text-align: center;
    width: calc(100% - 2px);
    background-color: transparent;
    transition: background-color 0.2s linear;
}

.zone.shield
{
    background: rgb(130, 200, 230, .8);
    color: white;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    line-height: 300%;
    cursor: url('../../../../../assets/images/icons/pointer-click.png'), auto;
}

.zone.shield:hover
{
    background: rgb(130, 200, 230, .9);
}

.ratio-wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 0 5px;
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.ratio-wrapper .spacer {
    height: calc(100% + 2px);
    visibility: hidden;
    vertical-align: top;
}
.ratio-wrapper .card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100%;
    border: 2px solid white;
}

.opponent
{
    transform: rotate(180deg);
}

.hand-zone
{
    position: fixed;
    bottom: -6%;
    color: white;
    text-align: center;
    width: 75%;
    min-width: 600px;
    height: 27%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.hand-zone .card-hand
{
    top: 0;
    transition: top 0.15s linear 0.2s;
}

.hand-zone .card-hand:hover
{
    top: -23%;
}

.hand-zone .card-hand:hover .card .buttons
{
    opacity: 1;
}

.hand-zone .card-hand .card .buttons
{
    width: 100%;
    height: 45px;
    line-height: 45px;
    opacity: 0;
    transition: opacity 0.2s linear 0.5s;
    margin-top: -1px;
}

.hand-zone .card-hand .card .buttons .button
{
    width: 100%;
    display: inline-block;
    font-family: 'Staatliches', cursive;
    background-color: rgb(13, 13, 13);
    transition: background-color 0.1s linear;
    cursor: url('../../../../../assets/images/icons/pointer-click.png'), auto;
}

.hand-zone .card-hand .card .buttons .button:hover
{
    background-color: rgb(35, 35, 35);
}

.rotate
{
    transform: rotate(90deg);
    transition-duration: 0.5s;
    transition-property: transform;
}

.rotateOp
{
    transform: rotate(270deg) !important;
}

.card .small-card-button
{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s linear;
    cursor: url('../../../../../assets/images/icons/pointer-click.png'), auto;
}

.card.hover:hover
{
    border-color: black !important;
}

.card.hover:hover .small-card-button
{
    background-color: black;
    opacity: 0.6;
}

.select
{
    background-color: rgb(0,0,0,0.4) !important;
    transition: background-color 0.2s linear;
}