<div *ngIf="(type != 'hand' && type != 'ohand') || (type == 'ohand' && (!zoneObject.readyToAttack || temp.attackWithIndex == null))" class="zone" [class.select]="zoneObject.readyToUseMana && type == 'mana'" 
  [ngStyle]="{'height' : height}"
  [class.border-top-none]="type == 'ofield'"
  [class.chalk-border]="type == 'omana' || type == 'ofield' || type == 'mana'">
    <div *ngIf="type == 'field'" style="height: 20%;"></div>
    <div class="ratio-wrapper"
        [class.opponent]="type == 'ofield' || type == 'omana'"
        *ngFor="let card of cards; let i = index"

        
        [class.black-white]="(type == 'omana' || type == 'mana') && card.is_used_for_summon" 
        [class.rotateOp]="(type == 'omana' || type == 'ofield') && card.is_tapped"
        [class.rotate]="(type == 'mana' || type == 'field') && card.is_tapped"
        [ngStyle]="style(card, i)"
        >
        <img class="spacer" style="height: calc(100% + 1px);" src="http://placehold.it/222x307">
        <div *ngIf="type == 'mana'" (click)="setActive(card)" class="card" [class.hover]="zoneObject.readyToUseMana && !card.is_used_for_summon" [class.disabled]="card.is_used_for_summon" style="border: 1px solid white;" [ngStyle]="{'background-image':'url(' + card.details.image_address + ')'}">
            <div class="small-card-button" (click)="rotateMana(i)" *ngIf="zoneObject.readyToUseMana && !card.is_used_for_summon"></div>
            <!-- <button *ngIf="type == 'mana'" [disabled]="!zoneObject.readyToUseMana" (click)="rotateMana(i)">Use</button>
            <button *ngIf="zoneObject.selectZones.includes(type)" (click)="select(i)">Select</button>
            <button *ngIf="zoneObject.readyToAttack && type=='field' && !card.is_summon && !card.is_tapped" (click)="attackWith(i)">Attack</button>
            <button *ngIf="zoneObject.readyToAttack && type=='ofield' && temp.attackWithIndex != null && card.is_tapped" (click)="attack(i)">Attack</button> -->
        </div>
        <div *ngIf="type == 'field'" (click)="setActive(card)" [class.disabled]="card.is_summon" class="card" style="border: 1px solid white;" [ngStyle]="{'background-image':'url(' + card.details.image_address + ')'}">

        </div>

        <div *ngIf="type == 'ofield'" (click)="setActive(card)" class="card" style="border: 1px solid white;" [ngStyle]="{'background-image':'url(' + card.details.image_address + ')'}">

        </div>

        <div *ngIf="type == 'omana'" (click)="setActive(card)" class="card" [class.disabled]="card.is_used_for_summon" style="border: 1px solid white;" [ngStyle]="{'background-image':'url(' + card.details.image_address + ')'}">

        </div>
        <div *ngIf="type == 'ohand'" class="card" style="background-image: url('../../../../assets/images/cards/card-back.jpg'); border: 1px solid white;"></div>
    </div>
</div>

<div class="zone shield"
    *ngIf="type == 'ohand' && zoneObject.readyToAttack && temp.attackWithIndex != null"
    [ngStyle]="{'height' : height}"
    (click)="attack('shield')">
    <span>Attack shield</span>
</div>

<div *ngIf="type == 'hand'" class="hand-zone">
    <div class="ratio-wrapper card-hand" style="margin-left: -8%;" *ngFor="let card of cards; let i = index">
        <img class="spacer" src="http://placehold.it/222x307">
        <div (click)="setActive(card)" class="card" [ngStyle]="{'background-image':'url(' + card.details.image_address + ')'}">
            <div class="buttons" *ngIf="zoneObject.isMyTurn">
                <div class="button" *ngIf="!zoneObject.isAddedToMana" (click)="moveCard(card.id, i, 'hand', 'mana')">Mana</div>
                <div class="button" *ngIf="canSummon(i)" (click)="summonC(i)">Summon</div>
            </div>
        </div>
    </div>
</div>