<div class="form">
  <form name='form-login' [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <input formControlName="username" type="text" placeholder="email address" autocomplete="off" autocorrect="off" spellcheck="false"/>
    <input formControlName="password" placeholder="password" type="password" autocomplete="off" autocorrect="off" spellcheck="false"/>
    <div class="error" *ngIf="error != null" (click)="closeError()">Error. Try again.</div>
    <button type="submit" *ngIf="isValid() && error == null">
      log in
    </button>
    <div *ngIf="isLoading" class="loading-spinner"><div></div></div>
  </form>
</div>