.site
{
    width: 100%;
    height: 100%;
    background-image: url('http://ak.picdn.net/shutterstock/videos/864835/thumb/1.jpg');
    background-size:  100% 100%;
    background-position: -15px center;
    background-repeat: no-repeat;
    min-height: 600px !important;
}

.site .main .left
{
    min-height: 100px !important;
}


.turn
{
    position: absolute;
    font-size: 30px;
    z-index: 1;
}

.panel
{
    top: 50%;
    position: absolute;
    z-index: 1;
}


.black-white
{
    filter: grayscale(100%);
}

.mini-shields
{
    width: 100%;
    height: 6%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 5px;
}

.deck-graveyard
{
    width: 100%;
    height: 5%;
    display: table;
}

.deck-graveyard span.text 
{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
}

.mini-nav 
{
    width: 100%;
    height: calc(12% - 20px);
    padding: 10px 0px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, calc(33.333333% - 7px));
}

.mini-nav .empty
{
    opacity: 0;
    cursor: default !important;
}

.mini-nav .m-nav
{
    background-color: rgb(13, 13, 13);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-size: 30% auto;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid white;
    cursor: url('../../../../assets/images/icons/pointer-click.png'), auto;
    text-align: center;
    display: table;
    transition: background-color 0.2s linear;
}

.m-nav.end-turn
{
    background-image: url('../../../../assets/images/icons/turn.png');
}

.m-nav.use-mana
{
    background-image: url('../../../../assets/images/icons/use-mana.png');
}

.m-nav.attack
{
    background-image: url('../../../../assets/images/icons/attack.png');
}

.m-nav.cancel
{
    background-color: rgb(110, 27, 41) !important;
    background-image: url('../../../../assets/images/icons/cancel.png');
}

.m-nav.confirm
{
    background-color: rgb(17, 80, 45) !important;
    background-image: url('../../../../assets/images/icons/confirm.png');
}

.mini-nav .m-nav:hover
{
    background-color: rgb(35, 35, 35) !important;
}

.mini-nav .m-nav:hover span
{
    opacity: 1;
}

.mini-nav .m-nav span 
{
    color: rgb(98, 121, 223);
    font-family: 'Titillium Web', sans-serif;
    opacity: 0;
    transition: opacity 0.2s linear 1s;
    display: table-cell;
    vertical-align: middle;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-size: 1.2em;
}