.active-deck, .player-cards
{
    width: calc(100% - 40px);
    height: calc(50% - 20px);
    border: 3px solid white;
    overflow: auto;
    padding: 20px 20px 0px 20px;
}

.border
{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-auto-rows: min-content;
    grid-gap: 20px 20px;
    padding-bottom: 20px;
}

.player-cards
{
    border-top: 0px;
}


.player-card .add, .remove
{
    width: 100%;
    background-color: green;
    opacity: 0;
    border-radius: 9% 9% 0 0;
    padding-top: 50%;
    margin-top: calc(-135.5% - 2px);
}

.player-card .add:hover
{
    opacity: .5;
    cursor: url('../../../../assets/images/icons/arrow-up.png'), auto;
}

.player-card .remove
{
    background-color: red;
    border-radius: 0 0 9% 9%;
    margin-top: -50%;
}

.player-card .remove:hover
{
    opacity: .5;
    cursor: url('../../../../assets/images/icons/arrow-down.png'), auto;
}

.player-cards .player-card .amount
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(7, 72, 140);
    margin-top: calc(138.5% - 44px);
    margin-left: 2px;
    border: 2px solid white;
    color: white;
    border-bottom: 0px;
    border-left: 0px;
    font-family: 'Titillium Web', sans-serif;
}

.player-card
{
    width: calc(100% - 4px);
    border: 2px solid white;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: calc(136% - 4px);
}

.cell 
{
    width: 100%;
}




/* .card-position
{
    display: grid;
}

.card-position .image
{
    width: calc(100% - 2px);
    border: 2px solid white;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-position > * 
{
    grid-area: 1 / 1 / 2 / 2;
} */