<div class="active-deck">
    <div *ngIf="deckService.isLoadingDeck" class="loading-spinner-big"><div></div></div>
    <div class="border">
        <div class="player-card" 
            *ngFor="let card of deckService.deck; let i = index"
            [ngStyle]="{'background-image':'url(' + card.details.image_address + ')'}"
            (click)="setActiveCard(i, 'deck')"
        ><div class="remove" (click)="remove(i)"></div></div>
    </div>
</div>
<div class="player-cards">
    <div *ngIf="deckService.isLoadingCards" class="loading-spinner-big"><div></div></div>
    <div class="border">
        <div class="player-card" 
            [class.disabled]="card.amount < 1"
            *ngFor="let card of deckService.cards; let i = index"
            (click)="setActiveCard(i, 'cards')"
            [ngStyle]="{'background-image':'url(' + card.details.image_address + ')'}">

            <div class="add" (click)="add(i)" *ngIf="card.amount > 0"></div>
        </div>
    </div>
</div>

<!-- <div class="amount">{{ card.amount }}</div>
<div class="add" (click)="add(i)" *ngIf="card.amount > 0"></div> -->

<!-- <div class="remove" (click)="remove(i)"></div> -->

<!-- <div class="card-position" [class.disabled]="card.amount < 1" *ngFor="let card of deckService.cards; let i = index" (click)="setActiveCard(i, 'cards')">
    <svg viewBox="0 0 222 307" />
    <div class="image" [ngStyle]="{'background-image':'url(' + card.details.image_address + ')'}"></div>
    <div class="amount">{{ card.amount }}</div>
    <div class="add" (click)="add(i)" *ngIf="card.amount > 0"></div>
</div> -->