/* You can add global styles to this file, and also import other style files */
html, body
{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    cursor: url('./assets/images/icons/pointer.png'), auto;
}

@keyframes loading-spinner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loading-spinner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    position: relative;
  }
  .loading-spinner div {
    position: absolute;
    -webkit-animation: loading-spinner 1s linear infinite;
    animation: loading-spinner 1s linear infinite;
    width: 120px;
    height: 120px;
    top: 40px;
    left: 40px;
    border-radius: 50%;
    box-shadow: 0 6px 0 0 #ffffff;
    -webkit-transform-origin: 60px 63px;
    transform-origin: 60px 63px;
  }
  .loading-spinner {
    width: 50px !important;
    height: 50px !important;
    -webkit-transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px);
    transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px);
    margin: 0 auto;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(7, 72, 140, .7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(7, 72, 140, .8); 
}

@keyframes loading-spinner-big {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-spinner-big {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner-big {
  position: relative;
}
.loading-spinner-big div {
  position: absolute;
  -webkit-animation: loading-spinner-big 1s linear infinite;
  animation: loading-spinner-big 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 50%;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #ffffff;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.loading-spinner-big {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  margin: auto;
}

.Water
{
  background-color: rgb(72,196,248,0.5);
}

.Fire
{
  background-color: rgb(206,25,30,0.5);
}

.Light
{
  background-color: rgb(243,206,27,0.5);
}

.Nature
{
  background-color: rgb(0,154,81,0.5);
}

.Darkness
{
  background-color: rgb(87,86,92,0.5);
}

.disabled
{
  filter: grayscale(100%);
}

.alert-box
{
  width: 30%;
  background-color: rgb(7, 72, 140, .8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 50px;
  border: 3px solid white;
  text-align: center;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  max-height: 80px;
}

.chalk-border {
  border: 15px solid rgba(255,255,255,.8);
  border-right: 0px;
  border-left: 0px;
  border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
}

.border-top-none
{
  border-top: 0px !important;
}

.border-bottom-none
{
  border-bottom: 0px !important;
}

.chalk-border:before {
  content: '';
}