<div class="site">
    <div class="main">
        <div class="left">
            <div class="nav">
                <div class="logo"></div>
                <div class="button" routerLink="/login" routerLinkActive="active">LOGIN</div>
                <div class="button">REGISTER</div>
                <div class="button">ABOUT</div>
            </div>
        </div>

    <div class="right">
        <router-outlet></router-outlet>
    </div>
    <div style="clear: both;"></div>
    </div>
    <div class="main-image"></div>
</div>