.site
{
    width: 100%;
    min-width: 970px;
    height: 100%;
    min-height: 50px;
}

.main-image
{
    margin-left: 30%;
    bottom: 0;
    width: 70%;
    height: 100%;
    background-image: url('../../../assets/images/backgrounds/main.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
}

.site .main
{
    width: 50%;
    position: absolute;
    height: auto;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    min-width: 500px;
}

.site .main .left
{
    width: 32%;
    height: auto;
    float: left;
}

.site .main .right
{
    width: 63%;
    height: auto;
    float: right;
}

.site .main .left .image
{
    width: 100%;
    
}

.site .main .left .nav .logo
{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100px;
    background-image: url('http://company.wizards.com/sites/wx/files/05%20Brands/06%20Duel%20Masters/WX_Brands_WPN_DM_Banner_logo.png');
    background-size: 150px 100px;
    margin-bottom: 20px;
    background-position: left center;
}

.site .main .left .nav .button
{
    width: 90%;
    padding: 7px;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    margin-bottom: 15px;
    transition: 0.3s;
    cursor: pointer;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
}

.site .main .left .nav .button:hover
{
    color: black;
    background-color: white;
}

.form input, .form button
{
    background-color: black;
    width: 100%;
    padding: 7px;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    margin-bottom: 15px;
    min-width: 250px;
    letter-spacing: 2px;
}

.form
{
    margin-top: 120px;
}

.form button[type="submit"]
{
    width: 75%;
    display: block;
    margin: 0 auto;
    background-color: rgb(7, 72, 140, .7);
    border-color: rgb(7, 72, 140);
}

.form button[type="submit"]:focus
{
    border-color: rgb(7, 72, 140, .5);
    outline: 0;
    height: 70px;
}

.form button[type="submit"]:disabled
{
    background-color: transparent;
    border-color: transparent;
}

.form input:focus
{
    outline: none;
    border-color: rgb(7, 72, 140);
}

.active
{
    color: black !important;
    background-color: white;
}

.error 
{
    width: 100%;
    padding: 7px;
    font-family: 'Titillium Web', sans-serif;
    border: 2px solid rgb(208, 30, 30);
    background-color: rgb(208, 30, 30, .5);
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
}