@keyframes loading-spinner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loading-spinner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    position: relative;
  }
  .loading-spinner div {
    position: absolute;
    -webkit-animation: loading-spinner 1s linear infinite;
    animation: loading-spinner 1s linear infinite;
    width: 120px;
    height: 120px;
    top: 40px;
    left: 40px;
    border-radius: 50%;
    box-shadow: 0 6px 0 0 #ffffff;
    -webkit-transform-origin: 60px 63px;
    transform-origin: 60px 63px;
  }
  .loading-spinner {
    width: 65px !important;
    height: 65px !important;
    -webkit-transform: translate(-32.5px, -32.5px) scale(0.325) translate(32.5px, 32.5px);
    transform: translate(-32.5px, -32.5px) scale(0.325) translate(32.5px, 32.5px);
  }